<div class="card">
		<h4>
      <div class="dropdown">
  			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {{ card.name }}
        </a> - {{ card.manaCost }}
      
        <ul id="card-show-archetypes" class="dropdown-menu">
          <li class="subsection">
            Add to ...
            <ul>
              {{#each archetypes }}
              <li>
                <a href="#" class="add-card" data-toggle="tab" data-id="{{ id }}" data-card="{{ ../card.id }}">
                  {{ name }}
                </a>
              </li>
              {{/each }}
            </ul>            
          </li>
          <li class="subsection">
            Remove from ...
            <ul>
              {{#if delete_option }}
                {{#each archetypes }}
                <li>
                  <a href="#" class="remove-card" data-toggle="tab" data-card="{{ ../card.id }}" data-archetype="{{ id }}">
                    {{ name }}
                  </a>
                </li>
                {{/each }}
              {{/if}}
              
            </ul>
            
          </li>
          
          
        </ul>
      </div>
		</h4>
		<span><strong>{{#each card.types_list }} {{ this }} {{/each}} - {{#each card.subtypes_list }} {{ this }} {{/each}}</strong></span>
		<p>{{{ card.text }}} </p>
    {{#if card.power }}<p style="text-align: right">{{ card.power }} / {{ card.toughness }}</p>{{/if}}
    
    
    {{#if card.split_card }}
    <p>
      Split: <a href="#" class="show_card" data-id="{{ card.split_card.id }}">{{ card.split_card.name }}</a>      
    </p>
    {{/if}}
    
    <input type="checkbox" data-id="{{ card.id }}" class="add-wishlist" {{#if card.wishlist }} checked="checked" {{/if}}>&nbsp;Add to wishlist</label>
    
</div>
{{#if others }}
  Other results:
  <ul>
  {{#each others }}
    <li><a href="#" class="show_card" data-id="{{ id }}">{{ name }}</a></li>
  {{/each}}
  </ul>
{{/if }}