<span>
	<a href="#" data-id="{{ id }}" data-type="{{ types_list }}" class="show_card">{{ name }} {{#if split_card }} / {{ split_card.name }} {{/if}}</a>{{#if cmc }} - <span>{{ cmc }}</span> {{/if}}
</span>