<table border="0" cellspacing="5" cellpadding="5" class="table ">

	<tr>
		<th></th>
		<th>Black</th>
		<th>Blue</th>
		<th>Red</th>
		<th>White</th>
		<th>Green</th>
		<th>Colorless</th>
		<th>MultiColor</th>
		<th>Land</th>
	</tr>

	<tr>
		<td><strong>Total Spells</strong></td>
		<td>{{ percentage Total.Spells.Black Total.Black }}</td>
		<td>{{ percentage Total.Spells.Blue Total.Blue }}</td>
		<td>{{ percentage Total.Spells.Red Total.Red }}</td>
		<td>{{ percentage Total.Spells.White Total.White }}</td>
		<td>{{ percentage Total.Spells.Green Total.Green }}</td>
		<td>{{ percentage Total.Spells.Colorless Total.Colorless }}</td>
		<td>{{ percentage Total.Spells.Multicolor Total.Multicolor }}</td>
		<td></td>
	</tr>
	
	<tr>
		<td><strong>Total Creatures</strong></td>
		<td>{{ percentage Total.Creatures.Black Total.Black }}</td>
		<td>{{ percentage Total.Creatures.Blue Total.Blue }}</td>
		<td>{{ percentage Total.Creatures.Red Total.Red }}</td>
		<td>{{ percentage Total.Creatures.White Total.White }}</td>
		<td>{{ percentage Total.Creatures.Green Total.Green }}</td>
		<td>{{ percentage Total.Creatures.Colorless Total.Colorless }}</td>
		<td>{{ percentage Total.Creatures.Multicolor Total.Multicolor }}</td>
		<td></td>
	</tr>
  
	<tr>
		<td><strong>Total</strong></td>
		<td>{{ Total.Black }}</td>
		<td>{{ Total.Blue }}</td>
		<td>{{ Total.Red }}</td>
		<td>{{ Total.White }}</td>
		<td>{{ Total.Green }}</td>
		<td>{{ Total.Colorless }}</td>
		<td>{{ Total.Multicolor }}</td>
		<td>{{ Total.Land }}</td>
	</tr>

  <tr>
		<td colspan="8" style="text-align: right"><strong>Total Cards:</strong></td>
		<td>{{ Total.Cards }}</td>
	</tr>
</table>

<table border="0" cellspacing="5" cellpadding="5" class="table ">

	<tr>
		<th></th>
		<th>Black</th>
		<th>Blue</th>
		<th>Red</th>
		<th>White</th>
		<th>Green</th>
		<th>Colorless</th>
		<th>MultiColor</th>
		<th>Land</th>
	</tr>

	<tr>
    <td class="divider-row" colspan="9">
      Spells
    </td>
  </tr>
  
	{{#cubeIterator 0 SpellsMaxLength 1 "Spells" }}
	<tr>
		<td></td>
		<td>{{ @row.Black }}</td>
		<td>{{ @row.Blue }}</td>
		<td>{{ @row.Red }}</td>
		<td>{{ @row.White }}</td>
		<td>{{ @row.Green }}</td>
		<td>{{ @row.Colorless }}</td>
		<td>{{ @row.Multicolor }}</td>
		<td>{{ @row.Land }}</td>

	</tr>
	{{/cubeIterator}}
	
	<tr>
    <td class="divider-row" colspan="9">
      Creatures
    </td>
  </tr>
	
	{{#cubeIterator 0 CreaturesMaxLength 1 "Creatures" }}
	<tr>
		<td></td>
		<td>{{ @row.Black }}</td>
		<td>{{ @row.Blue }}</td>
		<td>{{ @row.Red }}</td>
		<td>{{ @row.White }}</td>
		<td>{{ @row.Green }}</td>
		<td>{{ @row.Colorless }}</td>
		<td>{{ @row.Multicolor }}</td>
		<td>{{ @row.Land }}</td>
		<td></td>
	</tr>
	{{/cubeIterator}}
  
  
</table>

