<p id="notice"><%= notice %></p>

<h1>Archetypes</h1>


<table class="table table-striped ">
  <thead>
    <tr>
      <th class="col-lg-5">Name</th>
      <th class="col-lg-2">Size</th>
      <th class="col-lg-3" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @archetypes.each do |archetype| %>
      <tr>
        <td class="col-lg-5"><%= archetype.name %></td>
        <td class="col-lg-2"><%= archetype.cards.size %></td>
        <td class="col-lg-1"><%= link_to 'Show', archetype %></td>
        <td class="col-lg-1"><%= link_to 'Edit', edit_archetype_path(archetype) %></td>
        <td class="col-lg-1"><%= link_to 'Destroy', archetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


