<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>CMC</th>
		<th>Black</th>
		<th>Blue</th>
		<th>Red</th>
		<th>White</th>
		<th>Green</th>
		<th>Colorless</th>
		<th>MultiColor</th>
		<th>Land</th>
	</tr>
	{{#cubeIterator 0 SpellsMaxLength 1 "Spells" }}
	<tr>
		<td></td>
		<td>{{ @row.Black }}</td>
		<td>{{ @row.Blue }}</td>
		<td>{{ @row.Red }}</td>
		<td>{{ @row.White }}</td>
		<td>{{ @row.Green }}</td>
		<td>{{ @row.Colorless }}</td>
		<td>{{ @row.Multicolor }}</td>
		<td>{{ @row.Land }}</td>

	</tr>
	{{/cubeIterator}}
	
	<tr>
		<td colspan="8"></td>		
	</tr>
	
	{{#cubeIterator 0 CreaturesMaxLength 1 "Creatures" }}
	<tr>
		<td></td>
		<td>{{ @row.Black }}</td>
		<td>{{ @row.Blue }}</td>
		<td>{{ @row.Red }}</td>
		<td>{{ @row.White }}</td>
		<td>{{ @row.Green }}</td>
		<td>{{ @row.Colorless }}</td>
		<td>{{ @row.Multicolor }}</td>
		<td>{{ @row.Land }}</td>

	</tr>
	{{/cubeIterator}}
</table>

