<div class="card">
		<h4>
      <div class="dropdown">
  			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {{ card.name }}
        </a> - {{ card.manaCost }}
      
        <ul class="dropdown-menu">
          {{#each architypes }}
          <li>
            <a href="#" class="add-card" data-id="{{ id }}" data-cardid="{{ ../card.id }}">
              {{ name }}
            </a>
          </li>
          {{/each }}
        </ul>
      </div>
		</h4>
		<span> {{ card.types }} </span>
		<p> {{ card.text }} </p>
    <p style="text-align: right">{{ card.power }} / {{ card.toughness }}</p>
</div>
