<!DOCTYPE html>
<html>
  <head>
    <title>Cube Builder</title>
    <script>
      window.CubeBuilder = { };
    </script>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">CubeBuilder</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu-cubes">
                Cubes <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="menu-cubes">
                <li><a href="/cubes">All</a></li>
                <li><a href="/cubes/new">New</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu-archetype">
                Archetypes <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="menu-archetype">
                <li><a href="/archetypes">All</a></li>
                <li><a href="/archetypes/new">New</a></li>
              </ul>
            </li>
            <li>
              <% if user_signed_in? %>
                <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
                </li>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="container" class="none">
      
    </div>

    <div id="notice" class="">
      
      <% if notice %><p class="notice"><%= notice %></p><% end %>
      <% if alert %><p class="alert"><%= alert %></p><% end %>
    </div>

    <div class="main container">
    <%= yield %>
    </div>
    
    <% if Rails.env == "production" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89707310-1', 'auto');
      ga('send', 'pageview');

    </script>
    <% end %>
  </body>
</html>
